.Contact-Icon {
  width: 40px;
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 999;
  &:hover,
  &:active {
    transform: scale(1.2);
    transition: all 0.5s;
  }
}
.chat-box-container {
  position: fixed;
  bottom: 20px;
  right: 80px;
  z-index: 9999;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
  height: 400px; /
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}